body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f9fc;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    /* background: #c83232; */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    /* max-width: 400px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    width: 400px;
}
h2 {
    color: #2d7d2d;
    font-size: 2rem;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}
button {
    background: #2d7d2d;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}



button:hover {
    background: #256b25;
}


@media screen and (max-width: 768px){
    .container {
        /* background: #c83232; */
        font-size: small;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 80%;
        /* max-width: 400px; */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form{
        width: 200px;
    }
    
}