* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f9fc;
  color: #333;
  line-height: 1.6;
}


main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section {
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.section h2 {
  font-size: 2rem;
  color: #1b5e20;
  margin-bottom: 20px;
  font-weight: 600;
}

.highlight {
  font-weight: bold;
  color: #2f6f70;
}

.form-usuario,
.form-empresa {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form-usuario input,
.form-usuario select,
.form-usuario textarea,
.form-empresa input,
.form-empresa select,
.form-empresa textarea {
  padding: 12px;
  border: 1px solid #66a3a3;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f8f9fa;
  margin: 10px;
}

.form-usuario button,
.form-empresa button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-usuario button:hover,
.form-empresa button:hover {
  background-color: #1e7e34;
}

footer {
  background: #66a3a3;
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-size: 1.1rem;
  margin-top: 40px;
  border-radius: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
