* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f9fc;
  color: #333;
  line-height: 1.6;
}



main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section {
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.section h2 {
  font-size: 2rem;
  color: #1b5e20;
  margin-bottom: 20px;
  font-weight: 600;
}

.highlight {
  font-weight: bold;
  color: #2f6f70;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  min-width: 280px;
  background: #e0f2f1;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.box:hover {
  transform: translateY(-15px);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.12);
}

.box h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #004d40;
}

.box p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}

.box ul {
  text-align: left;
  list-style: none;
  margin-bottom: 15px;
}

.box ul li {
  margin-bottom: 12px;
  font-size: 1rem;
  color: #444;
}

.box a {
  color: #004d40;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #004d40;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.box a:hover {
  background-color: #004d40;
  color: white;
}

footer {
  background: #66a3a3;
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-size: 1.1rem;
  margin-top: 40px;
  border-radius: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
